<html>  
    <body> 
<div class="movies">
  <a href="/movies">Back to movie page</a>
  <h1>{{ movie.attributes.title }}</h1>
  <div class="intro">
    {{{ markdown movie.attributes.intro }}}
  </div>
  {{ movie.image }}
  <img src="{{{ movie.attributes.image.url }}}"> 
</div>
  </body>
</html>
