<!DOCTYPE html>
<html lang="sv">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Kino Ytterhogdal"/>
        <meta property="og:url" content="https://matodorovic.github.io/kino-ytterhogdal/index.html" />
        <meta property="og:image" content="http://matodorovic.github.io/kino-ytterhogdal/img/logo-on-red.png" />
        <meta property="og:description" content="Folkets Hus Ytterhogdal Bio - kom och uppleva magiska värld av filmer i vår biograf." />
        <meta property="og:locale" content="sv_SE" />
        <title>Ytterhogdals biograf</title>
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">
    </head>
        
       <body>  
            {{> header }}        
        
        {{{ body }}}
        
      
        <!--<script type="module" src="/src/js/pages/index.js"></script>
        <script src="https://kit.fontawesome.com/955d716fd8.js" crossorigin="anonymous"></script>-->
    </body>
     {{>footer}}
</html>
