/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Marta Anna Todorovic */

$font-choice: Arial, Helvetica, sans-serif; 
$primary-color: #BB0000;
$secondary-color: #fff;
$third-color: #000;
$fourth-color: #d4af37;
$fifth-color: rgba(211, 211, 211, 0.801);